<a class="collection-card" href="{{ collection_card.url }}">
    <div class="featured-image">
        <img src="{{ collection_card.featured_image | image_url }}">
    </div>
    <div class="title-wrapper">
        <div class="title">
            {{ collection_card.title }}
        </div>
        {% render 'icon-right' %}
    </div>
</a>