{% comment %} {{ 'header.css' | asset_url | stylesheet_tag }}
{{ 'header.js' | asset_url | script_tag }} {% endcomment %}

<div class="{{section.id}} account-page">
    <a href="{{routes.account_logout_url}}">Log out</a>
</div>

{% style %}

{% endstyle %}

{% schema %}
{
    "name": "Account",
    "settings": [
        
    ],
    "presets": [
        {
            "name": "Account Page"
        }
    ]
}
{% endschema %}