{% comment %} {{ 'header.css' | asset_url | stylesheet_tag }}
{{ 'header.js' | asset_url | script_tag }} {% endcomment %}

<div class="{{section.id}} register-page">
    
</div>

{% style %}

{% endstyle %}

{% schema %}
{
    "name": "Register Page",
    "settings": [
        
    ],
    "presets": [
        {
            "name": "Register Page"
        }
    ]
}
{% endschema %}