.collection-list img, .collection-card img {
  transition: transform ease-out 0.5s;
}
.collection-list .featured-image, .collection-card .featured-image {
  width: 100%;
  height: 265px;
  overflow: hidden;
  margin: 0 auto;
}
.collection-list .title-wrapper, .collection-card .title-wrapper {
  display: flex;
}
.collection-list .title-wrapper .title, .collection-card .title-wrapper .title {
  display: inline-block;
}
.collection-list .title-wrapper .icon-right, .collection-card .title-wrapper .icon-right {
  margin-left: 10px;
}
.collection-list .title-wrapper .icon-right > path, .collection-card .title-wrapper .icon-right > path {
  transform: translateX(-10px);
  transition: transform 0.5s;
}
.collection-list:hover img, .collection-card:hover img {
  transform: scale(1.05);
}
.collection-list:hover .icon-right > path, .collection-card:hover .icon-right > path {
  transform: translateX(-5px);
}

.collection-5 {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .collection-5 {
    width: 20%;
  }
}