header .header {
  display: flex;
  height: 90px;
}
header .icon-heart, header .icon-user, header .icon-cart {
  width: 20px;
  height: 20px;
}
header .icon-search {
  width: 22px;
  height: 22px;
}
header .icon-search circle, header .icon-search path {
  fill: none !important;
  stroke: #000 !important;
}
header .icon-dropdown path {
  fill: #000 !important;
}
header .search-wrapper {
  height: 50px;
  background-color: #ffffff;
  margin: 0;
  border-radius: 6px;
}
header .search-wrapper .category {
  color: #000;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 500;
  font-size: 15px;
}
header .search-wrapper .search-container {
  padding: 0;
}
header .search-wrapper .search-container form {
  position: relative;
  height: 100%;
}
header .search-wrapper .search-container form input {
  height: 100%;
  border: transparent;
  width: 100%;
  border-radius: 6px;
  padding-right: 55px;
  font-size: 15px;
}
header .search-wrapper .search-container form input:focus-visible {
  outline: none;
}
header .search-wrapper .search-container form input::placeholder {
  font-size: 14px;
}
header .search-wrapper .search-container form .search-button {
  position: absolute;
  right: 0;
  height: 100%;
  border: transparent;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: #F5C34B;
  padding: 0;
  width: 50px;
}
header .icon-wrapper {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.1019607843);
  margin-right: 15px;
  transition: background-color 0.2s;
  position: relative;
}
header .icon-wrapper .cart-count {
  position: absolute;
  background-color: #F5C34B;
  border-radius: 50%;
  color: #0B1E40;
  font-size: 8px;
  font-weight: 700;
  letter-spacing: 0em;
  width: 15px;
  height: 15px;
  line-height: 7px;
  padding: 4px;
  right: -2px;
  top: 0;
  text-align: center;
}
header .function-bar {
  justify-content: space-between;
  margin-left: 15px;
  padding: 0;
}
header .function-bar .wishlist, header .function-bar .signin, header .function-bar .cart {
  padding: 0;
}
header .function-bar .wishlist:hover .icon-wrapper, header .function-bar .signin:hover .icon-wrapper, header .function-bar .cart:hover .icon-wrapper {
  background-color: rgba(255, 255, 255, 0.0509803922);
}
header .function-bar .wishlist .title, header .function-bar .signin .title, header .function-bar .cart .title {
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
}
header .function-bar .wishlist .sub-title, header .function-bar .signin .sub-title, header .function-bar .cart .sub-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}
header .function-bar > a:not(:last-child) {
  margin-right: 25px;
}
header .function-bar .cart svg path {
  fill: none !important;
}