.single-product-layout-1 .single-product-wrapper .product-address-url {
  text-transform: capitalize;
  padding: 25px 0;
}
.single-product-layout-1 .single-product-wrapper .product-address-url a {
  color: #041E42;
  font-size: 14px;
  line-height: 22px;
}
.single-product-layout-1 .single-product-wrapper .product-address-url a:last-child {
  color: #626974;
}
.single-product-layout-1 .single-product-wrapper .product-address-url > a:not(:last-child)::after {
  content: " / ";
}
.single-product-layout-1 .single-product-wrapper .detail-info-product .image-wrapper {
  display: flex;
  flex-direction: row-reverse;
}
.single-product-layout-1 .single-product-wrapper .detail-info-product .image-wrapper .thumbs li {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border: 1px solid #EAEAEA;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out;
  cursor: pointer;
}
.single-product-layout-1 .single-product-wrapper .detail-info-product .image-wrapper .thumbs li:not(:last-child) {
  margin-bottom: 20px;
}
.single-product-layout-1 .single-product-wrapper .detail-info-product .image-wrapper .thumbs .selected {
  border: 2px solid #443297;
}
.single-product-layout-1 .single-product-wrapper .detail-info-product .product-description-wrapper {
  padding-top: 50px;
  color: #041E42;
}
.single-product-layout-1 .single-product-wrapper .detail-info-product .product-description-wrapper .title {
  font-size: 20px;
  font-weight: 500;
  line-height: 29px;
  margin-bottom: 0.5rem;
}
.single-product-layout-1 .single-product-wrapper .detail-info-product .product-description-wrapper span {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.single-product-layout-1 .single-product-wrapper .detail-info-product .product-description-wrapper .bread-description, .single-product-layout-1 .single-product-wrapper .detail-info-product .product-description-wrapper .sur-description {
  display: inline-block;
}
.single-product-layout-1 .single-product-wrapper .detail-info-product .product-description-wrapper .sur-description {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: all ease 1s;
}
.single-product-layout-1 .single-product-wrapper .detail-info-product .product-description-wrapper .seemore {
  cursor: pointer;
  margin: 20px 0 25px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  position: relative;
  width: fit-content;
  color: #443297;
  display: flex;
  align-items: center;
}
.single-product-layout-1 .single-product-wrapper .detail-info-product .product-description-wrapper .seemore .icon-dropdown, .single-product-layout-1 .single-product-wrapper .detail-info-product .product-description-wrapper .seemore .icon-dropdown-up {
  margin-left: 5px;
}
.single-product-layout-1 .single-product-wrapper .detail-info-product .product-description-wrapper .seemore .icon-dropdown path, .single-product-layout-1 .single-product-wrapper .detail-info-product .product-description-wrapper .seemore .icon-dropdown-up path {
  stroke: #443297;
}
.single-product-layout-1 .single-product-wrapper .detail-info-product .product-description-wrapper .seemore .icon-dropdown-up {
  display: none;
}
.single-product-layout-1 .single-product-wrapper .detail-info-product .product-description-wrapper .seemore .active {
  display: block;
}
.single-product-layout-1 .single-product-wrapper .detail-info-product .product-description-wrapper .seemore .de-active {
  display: none;
}
.single-product-layout-1 .single-product-wrapper .detail-info-product .product-description-wrapper .active {
  display: inline;
  height: auto;
  opacity: 1;
}
.single-product-layout-1 .single-product-wrapper .detail-info-product .product-description-wrapper .de-active {
  display: none;
}
.single-product-layout-1 .single-product-wrapper .detail-info-product .accordion-wrapper {
  padding-bottom: 20px;
}
.single-product-layout-1 .single-product-wrapper .detail-info-product .accordion-wrapper .accordion-header {
  color: #041E42;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  padding: 40px 0 30px 0;
  border-top: 1px solid #EAEAEA;
  display: flex;
  justify-content: space-between;
  user-select: none;
}
.single-product-layout-1 .single-product-wrapper .detail-info-product .accordion-wrapper .accordion-1 .accordion-content .item {
  list-style-position: inside;
  color: #041E42;
  line-height: 23px;
}
.single-product-layout-1 .single-product-wrapper .detail-info-product .accordion-wrapper .accordion-2 .accordion-table {
  width: 100%;
  margin-bottom: 40px;
}
.single-product-layout-1 .single-product-wrapper .detail-info-product .accordion-wrapper .accordion-2 .accordion-table .item {
  margin: 0;
}
.single-product-layout-1 .single-product-wrapper .detail-info-product .accordion-wrapper .accordion-2 .accordion-table .item div {
  padding: 30px 15px 30px 30px;
  overflow-wrap: anywhere;
}
.single-product-layout-1 .single-product-wrapper .detail-info-product .accordion-wrapper .accordion-2 .accordion-table .item div:first-child {
  color: #000;
  font-weight: 500;
}
.single-product-layout-1 .single-product-wrapper .detail-info-product .accordion-wrapper .accordion-2 .accordion-table .item div:last-child {
  color: #041E42;
}
.single-product-layout-1 .single-product-wrapper .detail-info-product .accordion-wrapper .accordion-2 .accordion-table .item:first-child div {
  color: #000;
}
.single-product-layout-1 .single-product-wrapper .detail-info-product .accordion-wrapper .accordion-3 .accordion-content, .single-product-layout-1 .single-product-wrapper .detail-info-product .accordion-wrapper .accordion-4 .accordion-content {
  color: #041E42;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 30px;
}
.single-product-layout-1 .single-product-wrapper .detail-info-product .accordion-wrapper .accordion-5 .qna-item .question-wrapper .q-content {
  line-height: 28px;
  margin-bottom: 10px;
  font-size: 16px;
  color: #041E42;
}
.single-product-layout-1 .single-product-wrapper .detail-info-product .accordion-wrapper .accordion-5 .qna-item .question-wrapper .q-info {
  color: #626974;
  font-size: 14px;
  line-height: 22px;
}
.single-product-layout-1 .single-product-wrapper .detail-info-product .accordion-wrapper .accordion-5 .qna-item .answer-wrapper {
  background-color: #F3F5F6;
  border-radius: 6px;
  padding: 30px;
  margin-top: 1rem;
  margin-left: 1rem;
}
.single-product-layout-1 .single-product-wrapper .detail-info-product .accordion-wrapper .accordion-5 .qna-item .answer-wrapper .a-content {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
  color: #041E42;
  margin-bottom: 0.5rem;
}
.single-product-layout-1 .single-product-wrapper .detail-info-product .accordion-wrapper .accordion-5 .qna-item .answer-wrapper .a-info {
  color: #626974;
  font-size: 14px;
  line-height: 28px;
}
.single-product-layout-1 .single-product-wrapper .detail-info-product .accordion-wrapper .accordion-5 .accordion-button {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}
.single-product-layout-1 .single-product-wrapper .detail-info-product .accordion-wrapper .accordion-5 .accordion-button .button {
  padding: 15px 45px;
  border: 1px solid #F5C34B;
  background-color: #ffffff;
  color: #041E42;
  user-select: none;
  border-radius: 6px;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.single-product-layout-1 .single-product-wrapper .detail-info-product .accordion-wrapper .accordion-5 .accordion-button .button::before {
  content: "";
  background-color: #E8B336;
  height: 100%;
  left: -100%;
  position: absolute;
  top: 0;
  width: 0;
  z-index: -1;
  transform: skew(50deg);
  transition: width 0.6s;
  transform-origin: top left;
}
.single-product-layout-1 .single-product-wrapper .detail-info-product .accordion-wrapper .accordion-5 .accordion-button .button:hover::before {
  height: 100%;
  width: 200%;
}
.single-product-layout-1 .single-product-wrapper .detail-info-product .accordion-wrapper .accordion-6 .accordion-content {
  margin: 0;
}
.single-product-layout-1 .single-product-wrapper .detail-info-product .accordion-wrapper .accordion-6 .rate-overview {
  display: flex;
  margin-bottom: 15px;
  padding: 0;
}
.single-product-layout-1 .single-product-wrapper .detail-info-product .accordion-wrapper .accordion-6 .rate-overview .avg-rate {
  font-size: 60px;
  font-weight: 500;
  color: #041E42;
}
.single-product-layout-1 .single-product-wrapper .detail-info-product .accordion-wrapper .accordion-6 .rate-overview .sum-star {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.single-product-layout-1 .single-product-wrapper .detail-info-product .accordion-wrapper .accordion-6 .rate-overview .sum-star .star-wrapper i {
  font-size: 14px;
}
.single-product-layout-1 .single-product-wrapper .detail-info-product .accordion-wrapper .accordion-6 .rate-overview .sum-star .star-wrapper i:not(:last-child) {
  margin-right: 2px;
}
.single-product-layout-1 .single-product-wrapper .detail-info-product .accordion-wrapper .accordion-6 .rate-overview .sum-star .sum {
  color: #041E42;
  font-size: 16px;
  line-height: 28px;
}
.single-product-layout-1 .single-product-wrapper .detail-info-product .accordion-wrapper .accordion-6 .rate-bar-wrapper {
  padding: 0;
}
.single-product-layout-1 .single-product-wrapper .detail-info-product .accordion-wrapper .accordion-6 .rate-bar-wrapper .rate-star-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 30px;
}
.single-product-layout-1 .single-product-wrapper .detail-info-product .accordion-wrapper .accordion-6 .rate-bar-wrapper .rate-star-wrapper:not(:last-child) {
  margin-bottom: 10px;
}
.single-product-layout-1 .single-product-wrapper .detail-info-product .accordion-wrapper .accordion-6 .rate-bar-wrapper .rate-star-wrapper .number {
  color: #041E42;
  font-size: 16px;
  line-height: 28px;
  margin-right: 0.25rem;
}
.single-product-layout-1 .single-product-wrapper .detail-info-product .accordion-wrapper .accordion-6 .rate-bar-wrapper .rate-star-wrapper .rate-bar {
  width: 300px;
  height: 6px;
  background-color: #F3F5F6;
  position: relative;
  border-radius: 6px;
  margin: 0 1rem;
}
.single-product-layout-1 .single-product-wrapper .detail-info-product .accordion-wrapper .accordion-6 .rate-bar-wrapper .rate-star-wrapper .rate-bar::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: var(--percent-rate);
  background-color: #F5C34B;
  border-radius: 6px;
}
.single-product-layout-1 .single-product-wrapper .detail-info-product .accordion-wrapper .accordion-6 .rate-bar-wrapper .rate-star-wrapper .percent {
  font-size: 16px;
  color: #041E42;
  line-height: 28px;
}
.single-product-layout-1 .single-product-wrapper .detail-info-product .accordion-wrapper .accordion-content {
  display: none;
}
.single-product-layout-1 .single-product-wrapper .detail-info-product .accordion-wrapper .de-active {
  display: none;
}
.single-product-layout-1 .single-product-wrapper .product-function-container {
  background-color: #FFFFFF;
  border: 1px solid #EAEAEA;
  border-radius: 6px;
  box-shadow: 0px 10px 50px rgba(4, 30, 66, 0.05);
  padding: 30px;
}
.single-product-layout-1 .single-product-wrapper .product-function-container .vendor-star-rate-wrapper {
  display: flex;
  font-size: 12px;
  line-height: 1.642;
  color: #777777;
  margin-bottom: 10px;
}
.single-product-layout-1 .single-product-wrapper .product-function-container .vendor-star-rate-wrapper .star-rate {
  margin-right: 1rem !important;
  margin-left: 1rem !important;
}
.single-product-layout-1 .single-product-wrapper .product-function-container .product-title {
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  color: #041E42;
  padding-bottom: 15px;
  border-bottom: 2px solid #EAEAEA;
}
.single-product-layout-1 .single-product-wrapper .product-function-container .price-container {
  margin: 20px 0 30px 0;
  display: flex;
  align-items: center;
  position: relative;
}
.single-product-layout-1 .single-product-wrapper .product-function-container .price-container .product-price {
  color: #041E42;
  font-weight: 500;
  font-size: 26px;
  margin-right: 10px;
}
.single-product-layout-1 .single-product-wrapper .product-function-container .price-container .compare-price {
  color: #626974;
  font-size: 16px;
  text-decoration: line-through;
  text-decoration-color: red;
}
.single-product-layout-1 .single-product-wrapper .product-function-container .price-container .variant-available {
  position: absolute;
  right: 0;
  padding: 0 20px;
  background-color: #626974;
  color: #fff;
  border-radius: 4px;
  user-select: none;
  line-height: 35px;
}
.single-product-layout-1 .single-product-wrapper .product-function-container .product-form-dropdown .selector-wrapper {
  margin-bottom: 13px;
  display: flex;
  flex-direction: column;
}
.single-product-layout-1 .single-product-wrapper .product-function-container .product-form-dropdown .selector-wrapper label {
  display: block;
  font-size: 18px;
  color: #041E42;
  margin-bottom: 5px;
  font-weight: 500;
  margin-left: 3px;
}
.single-product-layout-1 .single-product-wrapper .product-function-container .product-form-dropdown .selector-wrapper .nice-select {
  border-radius: 3px;
}
.single-product-layout-1 .single-product-wrapper .product-function-container .product-form-dropdown .selector-wrapper .nice-select .current {
  font-size: 16px;
  color: #041E42;
}
.single-product-layout-1 .single-product-wrapper .product-function-container .product-form-dropdown .selector-wrapper .nice-select .list {
  width: 100%;
  border-radius: 3px;
}
.single-product-layout-1 .single-product-wrapper .product-function-container .product-form-dropdown .selector-wrapper .nice-select .list li {
  font-size: 15px;
  color: #041E42;
}
.single-product-layout-1 .single-product-wrapper .product-function-container .product-form-dropdown .selector-wrapper .nice-select .list .selected {
  font-weight: 500;
}
.single-product-layout-1 .single-product-wrapper .product-function-container .product-form-dropdown #product-select + div {
  display: none;
}
.single-product-layout-1 .single-product-wrapper .product-function-container .product-form-button .product-options fieldset {
  margin: 0;
  border: none;
  padding: 0;
  margin-bottom: 13px;
}
.single-product-layout-1 .single-product-wrapper .product-function-container .product-form-button .product-options fieldset legend {
  font-size: 18px;
  color: #041E42;
  margin-bottom: 7px;
  font-weight: 500;
}
.single-product-layout-1 .single-product-wrapper .product-function-container .product-form-button .product-options fieldset .option-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.single-product-layout-1 .single-product-wrapper .product-function-container .product-form-button .product-options fieldset .option-wrapper > div {
  position: relative;
  width: fit-content;
  margin-bottom: 10px;
}
.single-product-layout-1 .single-product-wrapper .product-function-container .product-form-button .product-options fieldset .option-wrapper > div:not(:last-child) {
  margin-right: 10px;
}
.single-product-layout-1 .single-product-wrapper .product-function-container .product-form-button .product-options fieldset .option-wrapper > div input {
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
}
.single-product-layout-1 .single-product-wrapper .product-function-container .product-form-button .product-options fieldset .option-wrapper > div input[type=radio]:checked + label {
  background-color: #041E42;
  color: #fff;
}
.single-product-layout-1 .single-product-wrapper .product-function-container .product-form-button .product-options fieldset .option-wrapper > div label {
  border: 1px solid #041E42;
  padding: 8px 15px;
  display: block;
  border-radius: 4px;
  font-size: 16px;
  color: #041E42;
  transition: all ease 0.3s;
}
.single-product-layout-1 .single-product-wrapper .product-function-container .product-form-button .product-options fieldset .option-wrapper > div label:hover {
  background-color: #041E42;
  color: #fff;
}
.single-product-layout-1 .single-product-wrapper .product-function-container .product-form-dropdown .quantity-addtocart, .single-product-layout-1 .single-product-wrapper .product-function-container .product-form-button .quantity-addtocart {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 15px 0;
}
.single-product-layout-1 .single-product-wrapper .product-function-container .product-form-dropdown .quantity-addtocart .quantity, .single-product-layout-1 .single-product-wrapper .product-function-container .product-form-button .quantity-addtocart .quantity {
  position: relative;
  margin-right: 20px;
}
.single-product-layout-1 .single-product-wrapper .product-function-container .product-form-dropdown .quantity-addtocart .quantity .minus, .single-product-layout-1 .single-product-wrapper .product-function-container .product-form-dropdown .quantity-addtocart .quantity .plus, .single-product-layout-1 .single-product-wrapper .product-function-container .product-form-button .quantity-addtocart .quantity .minus, .single-product-layout-1 .single-product-wrapper .product-function-container .product-form-button .quantity-addtocart .quantity .plus {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #000;
  font-size: 17px;
}
.single-product-layout-1 .single-product-wrapper .product-function-container .product-form-dropdown .quantity-addtocart .quantity .minus, .single-product-layout-1 .single-product-wrapper .product-function-container .product-form-button .quantity-addtocart .quantity .minus {
  left: 7px;
}
.single-product-layout-1 .single-product-wrapper .product-function-container .product-form-dropdown .quantity-addtocart .quantity .plus, .single-product-layout-1 .single-product-wrapper .product-function-container .product-form-button .quantity-addtocart .quantity .plus {
  right: 7px;
  background-color: #F3F5F6;
  border-radius: 50%;
  padding: 4px;
}
.single-product-layout-1 .single-product-wrapper .product-function-container .product-form-dropdown .quantity-addtocart .quantity input, .single-product-layout-1 .single-product-wrapper .product-function-container .product-form-button .quantity-addtocart .quantity input {
  text-align: center;
  border: 1px solid #EAEAEA;
  border-radius: 60px;
  line-height: 50px;
  width: 104px;
  font-size: 13px;
}
.single-product-layout-1 .single-product-wrapper .product-function-container .product-form-dropdown .quantity-addtocart .add-to-cart-button, .single-product-layout-1 .single-product-wrapper .product-function-container .product-form-button .quantity-addtocart .add-to-cart-button {
  border-radius: 60px;
  color: #041E42;
  font-weight: 500;
  font-size: 15px;
  width: 230px;
  cursor: pointer;
  background-color: #F5C34B;
  border: 1px solid #F5C34B;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.single-product-layout-1 .single-product-wrapper .product-function-container .product-form-dropdown .quantity-addtocart .add-to-cart-button::before, .single-product-layout-1 .single-product-wrapper .product-function-container .product-form-button .quantity-addtocart .add-to-cart-button::before {
  content: "";
  background-color: #E8B336;
  height: 100%;
  left: -100%;
  position: absolute;
  top: 0;
  width: 0;
  z-index: -1;
  transform: skew(50deg);
  transition: width 0.6s;
  transform-origin: top left;
}
.single-product-layout-1 .single-product-wrapper .product-function-container .product-form-dropdown .quantity-addtocart .add-to-cart-button:hover::before, .single-product-layout-1 .single-product-wrapper .product-function-container .product-form-button .quantity-addtocart .add-to-cart-button:hover::before {
  height: 100%;
  width: 200%;
}
.single-product-layout-1 .single-product-wrapper .product-function-container .product-form-dropdown .quantity-addtocart .sold-out-button, .single-product-layout-1 .single-product-wrapper .product-function-container .product-form-button .quantity-addtocart .sold-out-button {
  border-radius: 60px;
  color: #041E42;
  border: 1px solid #041E42;
  font-weight: 500;
  font-size: 15px;
  width: 230px;
  user-select: none;
  background-color: #dddddd;
  opacity: 0.7;
  cursor: auto;
}
.single-product-layout-1 .single-product-wrapper .product-function-container .product-form-dropdown .quantity-addtocart .sold-out-button::before, .single-product-layout-1 .single-product-wrapper .product-function-container .product-form-button .quantity-addtocart .sold-out-button::before {
  content: none;
}
.single-product-layout-1 .single-product-wrapper .product-function-container .product-form-dropdown .shopify-payment-button .shopify-payment-button__button, .single-product-layout-1 .single-product-wrapper .product-function-container .product-form-button .shopify-payment-button .shopify-payment-button__button {
  border-radius: 60px;
  line-height: 52px;
  background-color: #ffffff;
  border: 2px solid #F5C34B;
  color: #041E42;
  padding: 0;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.single-product-layout-1 .single-product-wrapper .product-function-container .product-form-dropdown .shopify-payment-button .shopify-payment-button__button::before, .single-product-layout-1 .single-product-wrapper .product-function-container .product-form-button .shopify-payment-button .shopify-payment-button__button::before {
  content: "";
  background-color: #E8B336;
  height: 100%;
  left: -100%;
  position: absolute;
  top: 0;
  width: 0;
  z-index: -1;
  transform: skew(50deg);
  transition: width 0.6s;
  transform-origin: top left;
}
.single-product-layout-1 .single-product-wrapper .product-function-container .product-form-dropdown .shopify-payment-button .shopify-payment-button__button:hover::before, .single-product-layout-1 .single-product-wrapper .product-function-container .product-form-button .shopify-payment-button .shopify-payment-button__button:hover::before {
  height: 100%;
  width: 200%;
}